{% extends "dashboard/dashboard-layout.html" %}
{% block title %} Dashboard - Home{% endblock %}
{% block mainBtn %} 
                <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard-home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard-shop-item">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Shop</span></a>
            </li>
            <!-- Nav Item - Posts -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/dashboard-posts">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Posts</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard-category">
                    <i class="fas fa-keyboard"></i>
                    <span>Category</span></a>
            </li>
            {% endblock %}
{% block body %}
              

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Shop</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-home fa-sm text-white-50"></i> Ironign</a>
                    </div>

                   <!-- pasted Here -->
                   <div class="limiter">
                    <div class="container-login100" style="background-image: url_for('static', filename='dashboard/form/images/bg-01.jpg');">
                        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                            <form class="login100-form validate-form" enctype="multipart/form-data" action = "/dashboard-shop-item" method="post">
                                <span class="login100-form-title p-b-49">
                                    Shopping cards
                                </span>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Name</span>
                                    <input class="input100" type="text" name="name" placeholder="Name" required>
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Description</span>
                                    <textarea rows="10" cols="10" class="input100" placeholder="Write some lines about Shopping Card" type="text" name="desc" placeholder="Sub category 1" required>
                                        </textarea>
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">No of Reviews</span>
                                    <input class="input100" type="number" name="reviews" placeholder="Sub category 2" required>
                                    
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Price</span>
                                    <input class="input100" type="number" name="price" placeholder="Sub category 2" required placeholder="Only Number $ sign will be add auto">
                                    
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Image 1</span>
                                    <input type="file" class="input100" name="img1" id="" required>
                                    <span class="focus-input100"></span>
                                </div><div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Image 2</span>
                                    <input type="file" class="input100" name="img2" id="" required>
                                    <span class="focus-input100"></span>
                                </div><div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Image 3</span>
                                    <input type="file" class="input100" name="img3" id="" required>
                                    <span class="focus-input100"></span>
                                </div>
                                
                                
                                
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Category</span><br>
                                    {% if category|length == 0 %}

                                    <div class="alert alert-dark" role="alert">
                                        No Category Added !
                                    </div>
                                    {% else %}
                                    <select name="category" id="" style="width: 100%; height: 35px; border: none;">
                                        {% for category in category %}
                                        <option value="{{category.c}}">{{category.c}}</option>
                                        {% endfor %}  
                                        {% if special_category|length == 0 %}
                                        {% else %}
                                        {% for category in special_category %}
                                        <option value="{{category.name}}">{{category.name}}</option>
                                        {% endfor %}    
                                        {% endif %}
                                    </select>
                                    {% endif %}
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
                                    <span class="label-input100">Sub-Category</span><br>
                                    {% if category|length == 0 %}
                                    
                                    <div class="alert alert-dark" role="alert">
                                        No Sub-Category Added !
                                    </div>
                                    {% else %}
                                    <select name="sub-category" id="" style="width: 100%; height: 35px; border: none;">
                                        {% for category in category %}
                                        <option value="{{category.c1}}">{{category.c1}}</option>
                                        <option value="{{category.c2}}">{{category.c2}}</option>
                                        <option value="{{category.c3}}">{{category.c3}}</option>
                                        <option value="{{category.c4}}">{{category.c4}}</option>
                                        <option value="{{category.c5}}">{{category.c5}}</option>
                                        {% endfor %}    
                                    </select>
                                    {% endif %}
                                    <span class="focus-input100"></span>
                                </div>
                                
            
                                
                                
                                <br>
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn" type="submit">
                                            ADD Shopping Card
                                        </button>
                                    </div>
                                </div>
                            
                                <div class="flex-col-c p-t-60">
                                    <a href="/dashboard-shop-item-view" class="txt2">
                                       View Shopping Card
                                    </a>
                                </div>
            
            
                            </form>
                            
                        </div>
                    </div>
                </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    
    {% endblock %}